.fotter_form__text
  %ul
    %li.fotter_form__text__message
      message
    %li.fotter_form__text__icon_image
      =link_to 'https://qiita.com/trend', class: "fotter_form__text__icon_image" do
        =fa_icon "image"
