.main_content__chat_space
  - @messages.each do |message|
    .main_content__chat_space__user_name
      = message.user.name
      %span.main_content__chat_space__created_at
        = message.created_at
    .main_content__chat_space__comment
      = message.content
      = image_tag message.image.url if message.image.present?
