.main_content__head
  .main_content__head__group_name
    = @group.name
  =link_to "Edit", edit_group_path(@group), class: "main_content__head__group_edit"
  - @group.users.each do |user|
    .main_content__head__group_member
      Member:
      = user.name
