.main_content__chat_space
  .main_content__chat_space__user_name
    seiko
    .main_content__chat_space__created_at
      2016/10/02 06:27:07
  .main_content__chat_space__comment
    comment1
  .main_content__chat_space__user_name
    seiko
    .main_content__chat_space__created_at
      2016/10/02 06:27:07
  .main_content__chat_space__comment
    comment2
