.side_bar__bottom
  .side_bar__bottom__group_name
    グループ名１
  .side_bar__bottom__latest_message
    グループ１最新メッセージ
  .side_bar__bottom__group_name
    グループ名２
  .side_bar__bottom__latest_message
    グループ２最新メッセージ
