.fotter_form {
  background-color: #999999;
  height: 90px;
  width: calc(100vw - 300px);
  box-sizing: border-box;
  padding: 20px 40px;
  float: right;

  &__text {
    background-color: white;
    height: 50px;
    width: calc(100% - 105px);
    float: left;

    &__message {
      height: 50px;
      color: #434A54;
      font-size: 16px;
      line-height: 50px;
      padding-left: 10px;
      float: left;
    }

    &__icon_image {
      float: right;
      color: black;
      line-height: 50px;
      padding-right: 10px;
    }
  }

  &__input {
    background-color: #38AEF0;
    float: right;
    color: white;
    width: 90px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
}
