.main_content__head {
  box-sizing: border-box;
  padding: 0 40px;
  background-color: $primary;
  height: 100px;
  border-bottom: 1px solid #eeeeee;

  &__group_name {
    float: left;
    font-size: 20px;
    color: #333333;
    padding-top: 35px;
  }

  &__group_edit {
    float: right;
    color: #38AEF0;
    margin: 28px 0 0;
    padding: 0 20px;
    border: 1px solid $mainBllueColor;
    line-height: 40px;
  }

  &__group_member {
    font-size: 12px;
    color: #999999;
    clear: both;
  }
}
