.side_bar {
  width: 300px;
  height: 100vh;
  background-color: #2f3e51;
  float: left;
  box-sizing: border-box;

  &__head {
    height: 100px;
    background-color: #253141;
    box-sizing: border-box;
    padding: 40px 20px 0 20px;

    &__user_name {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    float: left;
    }

    &__icon_setting {
      float: right;
      color: #FFFFFF;
      font-size: 20px;
    }

    &__icon_new_message {
      padding-right: 5px;
      float: right;
      color: #FFFFFF;
      font-size: 20px;
    }
  }
  &__bottom {
    padding: 20px 20px 0 20px;

    &__group_name {
      margin: 20px 0 5px 0;
      font-size: 15px;
      color: #FFFFFF;
    }

    &__latest_message {
      margin-bottom: 40px;
      color: #FFFFFF;
      font-size: 11px;
    }
  }
}
